#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that is organized for efficient storage, retrieval, 
and management. It can store various types of information and allows for querying and manipulation of data.

SQL (Structured Query Language) databases:
- Relational databases that use structured schemas.
- Data is stored in tables with rows and columns.
- ACID (Atomicity, Consistency, Isolation, Durability) transactions ensure data integrity.
- Examples: MySQL, PostgreSQL, Oracle.

NoSQL (Not Only SQL) databases:
- Diverse set of database types that are often schema-less.
- Data is typically stored in flexible formats like JSON, XML, or key-value pairs.
- Focus on horizontal scalability and can handle large volumes of data.
- Examples: MongoDB, Cassandra, Redis.

The choice between SQL and NoSQL databases depends on the specific needs of a project, such as data structure, 
scalability, and performance requirements.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Sure, here's a shorter explanation:

DDL (Data Definition Language) is a set of SQL commands for managing a database's structure.

1. CREATE: Used to make new database objects (e.g., tables).
   Example: `CREATE TABLE Employees (ID INT, Name VARCHAR);`

2. DROP: Deletes database objects.
   Example: `DROP TABLE Employees;`

3. ALTER: Modifies existing database objects.
   Example: `ALTER TABLE Employees ADD Email VARCHAR;`

4. TRUNCATE: Deletes all data in a table, keeping the structure.
   Example: `TRUNCATE TABLE Employees;`

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML (Data Manipulation Language) is a subset of SQL used for manipulating data in a database.

1. INSERT: Adds new data into a table.
   Example: `INSERT INTO Customers (Name, Email) VALUES ('John Doe', 'john@example.com');`

2. UPDATE: Modifies existing data in a table.
   Example: `UPDATE Employees SET Salary = 55000 WHERE ID = 123;`

3. DELETE: Removes data from a table.
   Example: `DELETE FROM Orders WHERE OrderID = 456;`

DML commands are crucial for adding, changing, and removing data in a database.

#### Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL (Data Query Language) is a subset of SQL used for querying and retrieving data from a database.

SELECT: Retrieves data from one or more tables.
Example: `SELECT FirstName, LastName FROM Employees WHERE Department = 'HR';`

The SELECT statement allows you to specify the columns you want to retrieve and apply conditions to filter 
the data you need from the database.

#### Q5. Explain Primary Key and Foreign Key.

In [ ]:
A primary key and a foreign key are both important concepts in database design and management:

1. Primary Key:
   - A primary key is a field or a combination of fields in a database table that uniquely identifies each row or 
     record in that table.
   - It enforces data integrity by ensuring that no two rows can have the same primary key value.
   - Typically, primary keys are used to link tables and establish relationships in a relational database.

   Example: In a "Students" table, the "StudentID" column can be the primary key because it uniquely identifies each 
            student.

2. Foreign Key:
   - A foreign key is a field in a database table that is linked to the primary key of another table, creating a 
     relationship between the two tables.
   - It is used to maintain referential integrity, ensuring that data in the foreign key column corresponds to data in 
     the primary key of the referenced table.
   - Foreign keys are essential for creating relationships between tables in a relational database, such as connecting a 
    "Students" table to a "Courses" table.

   Example: In a "Enrollments" table, the "StudentID" column can be a foreign key that links to the "StudentID" in the
            "Students" table, indicating which student is enrolled in which course.

In summary, a primary key uniquely identifies records within a table, while a foreign key establishes relationships 
between tables by linking to the primary key of another table, ensuring data integrity and enabling data retrieval 
across related tables.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
To connect Python to MySQL using the `mysql-connector` library, follow these steps:

1. Import the library and establish a database connection with your MySQL server.

2. Create a cursor object using `mydb.cursor()`. The cursor allows you to execute SQL queries and fetch results.

3. Use the `execute()` method on the cursor to run SQL queries, such as SELECT or INSERT, with optional parameterized values.

4. After executing INSERT or UPDATE queries, use `mydb.commit()` to save the changes to the database.

5. Close the cursor and the database connection using `mycursor.close()` and `mydb.close()` when you're done.

The cursor is like a tool for executing SQL, and `execute()` is the method for sending SQL statements to the database.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
In an SQL query, the clauses are executed in the following order:

SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY